
<!--mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
             (closed)="events.push('close!')">
  <ul>
    <li>
      <button mat-raised-button>
      </button>
    </li>
    <li>
      <button mat-raised-button>
        Projektverwaltung
      </button>
    </li>
  </ul>
</mat-sidenav-->

<div id="side-nav">
  <ul>
    <li>
      <button mat-button>Übersicht</button>
    </li>
    <li>
      <button mat-button>Stundeneingabe</button>
    </li>
    <li>
      <button mat-button>Projektverwaltung</button>
    </li>
    <li>
      <button mat-button>Abmelden</button>
    </li>
  </ul>
</div>
