<form [formGroup]="inputMonthForm">
  <div class="selector-wrapper">
    <mat-form-field class="selector">
      <mat-select formControlName="year" (selectionChange)="changeMonth()">
        <mat-option *ngFor="let y of years;" [value]="y">
          {{ y }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="selector">
      <mat-select formControlName="month" (selectionChange)="changeMonth()">
        <mat-option *ngFor="let m of months; let i = index;" [value]="i">
          {{ m }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<mat-accordion>
  <div id="days-wrapper">
    <div *ngFor="let d of days">
      <app-input-day [date]="d"></app-input-day>
      <p></p>
    </div>
  </div>
</mat-accordion>
