#header{
  background-color: #F6F6F6;
  height: 75px;
  /*position: fixed;
  top:0;
  margin-left: 0px;
  left:0;
  width:100%;*/
}

#lang-selector{
  float: right;
  margin-right: 15px;
  width: 100px;
}

.inline-element{
  display:inline-block;
}

.push-right{
  float: right;
  margin-top: 9px;
  : right;
}

#header-title{
  margin-left: 15px;
}

.header-icon{
  margin: 15px;
  margin-right: 30px;
  font-size: 33px!important;
  cursor: pointer;
}

.material-icons {
  font-size: 35px;
}
