<div id="header">
  <a>
    <mat-icon class="inline-element header-icon" id="app-logo">access_time</mat-icon>
    <span class="inline-element" id="header-title">Z E I T</span>
  </a>
  <mat-icon class="push-right inline-element header-icon btn-icon"
            mat-button [matMenuTriggerFor]="menu">
    account_circle
  </mat-icon>
  <mat-menu #menu="matMenu"
            overlapTrigger="false">
    <button mat-menu-item>Profil</button>
    <button mat-menu-item>Abmelden</button>
  </mat-menu>
</div>
