#header{
  background-color: #F6F6F6;
  position: fixed;
  top:0;
  margin-left: 15%;
  left:0;
  width:85%;
}
/*
#content {
  margin-top: 100px;
}*/

.inline-element{
  display:inline-block;
}
.push-right{
  float: right;
  margin-top: 9px;
  : right;
}
#header-title{
  margin-left: 5px;
}
.header-icon{
  margin: 15px;
  font-size: 30px!important;
  cursor: pointer;
}
.material-icons {
  font-size: 35px;
}
