#app-header{
  background-color: #e6db8e;
  position: fixed;
  top:0;
  left:0;
  width:100%;
}
/*
#content {
  margin-top: 100px;
}*/

.inline-element{
  display:inline-block;
}
.push-right{
  float: right;
  margin-top: 9px;
  : right;
}
#header-title{
  margin-left: 5px;
}
.header-icon{
  margin: 25px;
  cursor: pointer;
}
.material-icons {
  font-size: 35px;
}
