<p></p>

<div class="table-container mat-elevation-z8">
  <mat-card class="zeit-card-light">
    <mat-card-content>
      <div class="flex-row">
        <div class="flex-column">
          Urlaubstage vom Vorjahr
        </div>
        <div class="flex-column">
          4
        </div>
        <div class="flex-column">
        </div>
        <div class="flex-column">
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-column">
          Urlaubstage
        </div>
        <div class="flex-column">
          31
        </div>
        <div class="flex-column">
        </div>
        <div class="flex-column">
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-column">
          Unter-/Überstunden vom Vorjahr
        </div>
        <div class="flex-column">
          34,50
        </div>
        <div class="flex-column">
        </div>
        <div class="flex-column">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<p></p>

<div class="table-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="monthName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Monat</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.monthName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="targetHours">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Soll-Stunden</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.targetHours}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actualHours">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ist-Stunden</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.actualHours}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="overtime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Überstunden</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.overtime}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="leave">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Urlaubstage</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.leave}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sickDays">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Krankheitstage</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.sickDays}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remainingLeave">
      <mat-header-cell *matHeaderCellDef mat-sort-header> restlicher Urlaub</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.remainingLeave}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let last = last;"
             [ngClass]="{'totals-row': last}"></mat-row>

  </mat-table>

</div>

<p></p>
