.selector{
  float: right;
  margin-right: 2%;
  height: 69px;
  width: 140px;
}

.zeit-card-light {
  background: #E0F2F1;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  margin-left: 2%;
  margin-right: 2%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-row {
  background-color: #fff
}

.mat-row:nth-child(2n) {
  background-color: #f5f5f5
}

.totals-row {
  position: sticky;
  bottom: 0;
  background: #f5f5f5;
  border-top: 1px solid #CCC;
  font-weight: bold;
}

form {
  margin-left: 2%;
  margin-right: 2%;
}
