<app-header title='AppName'></app-header>
<div id="content-wrapper">
  <div id="app-nav" >
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         [routerLink]="'/month'"
         [active]="true">
        Übersicht
      </a>
      <a mat-tab-link
         [routerLink]="'/month'"
         [active]="true">
        Stundeneingabe
      </a>
      <a mat-tab-link
         [routerLink]="'/project'"
         [active]="false">
        Projektverwaltung
      </a>
    </nav>
  </div>
  <p></p>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
