<mat-expansion-panel [expanded]="false" hideToggle="true" class="zeit-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>{{dayOfWeek}}, {{date}}</mat-panel-title>
    <span>Arbeitszeit {{overtime}}</span>
  </mat-expansion-panel-header>

  <form [formGroup]="inputDayForm">

    <mat-form-field>
      <input matInput placeholder="Kommen" type="time" formControlName="arrival">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Gehen" type="time" formControlName="leaving">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Pause" type="time" formControlName="break">
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button value="1">Arbeit</mat-radio-button>
      <mat-radio-button value="2">Urlaub</mat-radio-button>
      <mat-radio-button value="3">GAZ</mat-radio-button>
      <mat-radio-button value="4">krank</mat-radio-button>
    </mat-radio-group>

    <ul class="zeit-activities">
      <li *ngFor="let activity of activities">
        <mat-form-field>
          <input matInput placeholder="Projekt">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Tätigkeit">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Stunden">
        </mat-form-field>
        <button mat-mini-fab (click)="addActivity(activity.nr)" *ngIf="isLastActivity(activity.nr)">+</button>
        <button mat-mini-fab (click)="deleteActivity(activity.nr)" *ngIf="!isLastActivity(activity.nr)">-</button>
      </li>
    </ul>

    <mat-action-row>
      <button mat-button color="primary" (click)="save()" [disabled]="inputDayForm.invalid">Speichern</button>
    </mat-action-row>

  </form>

</mat-expansion-panel>
