.zeit-expansion-panel {
  background: #E0F2F1;
}
.zeit-activities {
  background: #F1F8E9;
}
.zeit-radio-group {
  display: inline-flex;
  flex-direction: row;
}
.zeit-radio-button {
  margin: 7px;
}
