<mat-expansion-panel [expanded]="false" hideToggle="true" ngClass="{{panelClass}}">
  <mat-expansion-panel-header>
    <mat-panel-title>{{date | date:'fullDate'}}</mat-panel-title>
    <span>Arbeitszeit {{worktime}}</span>
  </mat-expansion-panel-header>

  <form [formGroup]="inputDayForm">

    <span *ngIf="inputDayForm.get('typeOfDay').value === '1'">
      <mat-form-field>
        <input matInput placeholder="Kommen" type="time" formControlName="arrival">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Gehen" type="time" formControlName="leaving">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Pause" type="time" formControlName="break">
      </mat-form-field>
    </span>
    <mat-radio-group class="zeit-radio-group" formControlName="typeOfDay">
      <mat-radio-button class="zeit-radio-button" value="1">Arbeit</mat-radio-button>
      <mat-radio-button class="zeit-radio-button" value="2">frei</mat-radio-button>
      <mat-radio-button class="zeit-radio-button" value="3">Urlaub</mat-radio-button>
      <mat-radio-button class="zeit-radio-button" value="4">GAZ</mat-radio-button>
      <mat-radio-button class="zeit-radio-button" value="5">krank</mat-radio-button>
    </mat-radio-group>

    <ul class="zeit-activities" formArrayName="activities" *ngIf="inputDayForm.get('typeOfDay').value === '1'">
      <li *ngFor="let activity of activites.controls; let i=index" [formGroupName]="i">
        <mat-form-field>
          <mat-select placeholder="Projekt" formControlName="actProject">
            <mat-option [value]="1">Projekt 1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Tätigkeit" formControlName="actDescription">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Zeit" type="time" formControlName="actTime">
        </mat-form-field>
        <button mat-mini-fab (click)="addActivity()" *ngIf="(i + 1) === inputDayForm.controls['activities'].controls.length">+</button>
        <button mat-mini-fab (click)="removeActivity(i)" *ngIf="(i + 1) < inputDayForm.controls['activities'].controls.length">-</button>
      </li>
    </ul>

    <app-alert [message]="errorMessage"></app-alert>

    <mat-action-row>
      <button mat-button color="primary" (click)="save()" [disabled]="inputDayForm.invalid">Speichern</button>
    </mat-action-row>

  </form>

</mat-expansion-panel>
